*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html, body{
    width: 100%;
    height: 100%;
}
body{
    display: flex;
    justify-content: center;
    align-items: center;
}
.main_div{
    width: 400px;
    height: 550px;
    /* border: 1px solid black; */
    border-radius: 8px 8px 0px 0px;
    background-color: #f3f2f2;
    
}
.form_header{
    width: 100%;
    height: 90px;
    background-color: rgb(51, 255, 0);
    color: white;
    padding: 15px 45px;
    border-radius: 8px 8px 0px 0px;
}
.form_section{
    padding: 15px 35px;
}
input[type=text], textarea{
    width: 100%;
    border: none;
    padding: 5px 15px;
    outline: none;
    margin-bottom: 10px;
}
input[type=submit]{
    padding: 8px 20px;
    border: none;
    border-radius: 5px;
    background-color: rgb(51, 255, 0);
    color: white;
    width: 100%;
}